# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# Environment variables
.env
*.env.local
*.env.development
*.env.test
*.env.production

# System files
.DS_Store

# IDEs and editors
.vscode/

# Temporary files
tmp/
temp/
*.tmp
